.Rproj.user
.Rhistory
.RData
.Ruserdata
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/.auctex-auto/
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/flow.aux
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/flow.log
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/flow.synctex.gz
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/indent.log
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/research.aux
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/research.log
/docs/2023-03-15-Fyrtaarn-Referansegruppe/images/research.synctex.gz
